page-food-detail {
    .background {
        background: url('../../assets/imgs/Food.png') no-repeat;
        opacity: 0.5;
        background-position: center;
    }
    .food {
        font-size: 2.4em;
        font-weight: 900;
        margin: 111px 0px 0px 6px;
    }
}